@model Cts.Mvc.ExpenseReport.Domain.Projects


<div class="row">
    <div class="span3 alert alert-error" id="validationSummary" style="display: none">
        @Html.ValidationSummary(false)
    </div>
</div>
