@model Cts.Mvc.ExpenseReport.Domain.Titles

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this Title?</h3>
<fieldset>
    <legend>Titles</legend>

    <div class="row">
        <div class="span6 alert alert-error">
            <h4>@Html.DisplayFor(model => model.Title)</h4>
        </div>
    </div>

    @if (ViewBag.ErrorMessage != null)
    {
        <div class="row">
            <div class="span6 alert alert-warning">
                <ul>
                    <li>@ViewBag.ErrorMessage</li>
                </ul>                
            </div>
        </div>
    }
</fieldset>
@using (Html.BeginForm()) {
    <div>
        <p>
            <button type="submit" value="Delete" class="btn btn-danger">Delete</button>
            <a href="@Url.Action("/Index")" role="button" class="btn btn-default">Cancel</a>
        </p>
    </div>
}
