@model Cts.Mvc.ExpenseReport.Domain.ExpenseCategories


<div class="editor-label">
    @Html.LabelFor(model => model.Category)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Category)
    @Html.ValidationMessageFor(model => model.Category, "*")
</div>
