@model Cts.Mvc.ExpenseReport.Domain.ExpenseCategories

@{
    ViewBag.Title = "Add Expense Category";
}

<h2>Add Expense Category</h2>

@using (Html.BeginForm()) {
   
    <div>
        @Html.Partial("_ValidationError")
    </div>

    <fieldset>
        <legend>ExpenseCategories</legend>
        
        <div>
            @Html.Partial("_ExpenseCategoriesDetail")
        </div> 
        
        <div>
            @Html.Partial("_SaveCancel")
        </div> 
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
