@model Cts.Mvc.ExpenseReport.Domain.Entries


<div class="row">
    <div class="span4 alert alert-error" id="validationSummary" style="display: none">
        @Html.ValidationSummary(false)
    </div>
</div>
