@model Cts.Mvc.ExpenseReport.Domain.Entries

@{
    ViewBag.Title = "Add Expense";
}

<h2>Add Expense</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.Partial("_ValidationError")
    </div>

    <fieldset>
        <legend>Entries</legend>
        
        <div>
            @Html.Partial("_EntryDetails")
        </div> 
                
        <div>
            @Html.Partial("_SaveCancel")
        </div> 
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/fieldfunctions")
}
